* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ************** 
Colors
************** */
.dark-magenta {
  color: hsl(300, 43%, 22%);
}

.light-magenta {
  color: hsl(300, 24%, 96%);
}

.gray-magenta {
  color: hsl(303, 10%, 53%);
}

.pink {
  color: hsl(333, 80%, 67%);
}

.white {
  color: hsl(0, 0%, 100%);
}

/* *************** 
*************** */
body {
  background-color:hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100%;
}

/* *************** 
Section: 
Social Proof
*************** */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 310px;
  text-align: center;
}

/* *************** 
Section:
Header
*************** */
.header {
  margin-top: 80px;
}

.header-span {
  color:hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 1.9em;
}

.header p {
  font-size: 0.9em;
  margin: 30px 0;
  line-height: 25px;
  color:hsl(303, 10%, 53%);
}

/* *************** 
Section:
Rates
*************** */
.star-image img {
  padding: 5px 2px;
}

.rate-1,
.rate-2,
.rate-3 {
  color:hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 0.8em;
  border: none;
  border-radius: 8px;
  background-color:hsla(333, 80%, 67%, 5%);
  padding: 10px;
  margin: 15px 0;
  line-height: 20px;
}

/* *************** 
Section: 
Reviews
*************** */
.reviews {
  margin-top: 50px;
  margin-bottom: 100px;
}

.box-1,
.box-2,
.box-3 {
  color:hsl(300, 24%, 96%);
  line-height: 20px;
  border: none;
  border-radius: 8px;
  background-color:hsl(300, 43%, 22%);
  padding: 30px 30px;
  font-size: 0.7em;
  text-align: left;
  margin-bottom: 15px;
}

.profile-name {
  display: flex;
  margin-bottom: 20px;
}

.reviews img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.name-title {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1em;
  margin-left: 20px;
}

.title {
  color:hsl(333, 80%, 67%);
  font-weight: 400;
}